.ql-mermaid-loading-mask {
  --ql-loading-mask-color: rgba(200, 200, 200, 0.2);
  --ql-loading-icon-color: #2299dd;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ql-loading-mask-color);
}
.ql-mermaid-loading-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-color: var(--ql-loading-icon-color) transparent transparent var(--ql-loading-icon-color);
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  animation: mermaid-load 0.4s linear infinite;
}

@keyframes mermaid-load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ql-toolbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.ql-toolbox * {
  pointer-events: all;
}
.ql-container .ql-mermaid-container {
  --ql-container-border-color: #e7e5e4;
  display: flex;
  width: 80%;
  margin: 0px auto;
  border: 1px solid var(--ql-container-border-color);
  border-radius: 8px;
}
.ql-container .ql-mermaid-editor {
  flex: 1;
}
.ql-container .ql-mermaid-chart {
  --ql-editor-border-color: #414141;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
}
.ql-container .ql-mermaid-chart .editor {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  height: 96px;
  border: 1px solid var(--ql-editor-border-color);
  background-color: transparent;
  font-family: inherit;
}
.ql-container .ql-mermaid-chart .editor:focus {
  --ql-editor-border-color: #ff3570;
  outline: none;
}
.ql-container .ql-mermaid-chart .chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.ql-container .ql-mermaid-select {
  --ql-text-color: #171717;
  --ql-border-color: #7dd3fc;
  --ql-bg-color: #f4f4f5;
  --ql-tip-bg-color: rgb(66, 66, 66);
  --ql-tip-text-color: #ffffff;
  position: absolute;
  border: 2px dashed var(--ql-border-color);
  border-radius: 8px;
  pointer-events: none;
}
.ql-container .ql-mermaid-select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -14px;
  z-index: 10;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background-color: var(--ql-bg-color);
  color: var(--ql-text-color);
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}
.ql-container .ql-mermaid-select-btn:hover {
  --ql-text-color: #fafafa;
  --ql-bg-color: #38bdf8;
}
.ql-container .ql-mermaid-select-btn:hover::after {
  display: flex;
}
.ql-container .ql-mermaid-select-btn::after {
  position: absolute;
  content: "";
  display: none;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0px 10px;
  border-radius: 4px;
  color: var(--ql-tip-text-color);
  background-color: var(--ql-tip-bg-color);
  font-size: 14px;
  transform: translateX(calc(-50% - 20px));
}
.ql-container .ql-mermaid-select-close {
  top: -14px;
}
.ql-container .ql-mermaid-select-close::after {
  content: "remove";
}
.ql-container .ql-mermaid-select-edit {
  top: 18px;
}
.ql-container .ql-mermaid-select-edit::after {
  content: "edit";
}
.ql-container .ql-mermaid-select.edit .ql-mermaid-select-edit::after {
  content: "save";
}
.ql-container .ql-mermaid-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  color: currentColor;
  cursor: pointer;
}